/* CSS File: styles.css */
body {
    font-family: Arial, sans-serif;
}

table {
    border: 1px solid black;
    border-spacing: 1px;
    padding: 1px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}

.middle {
    margin: auto;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

h1.center {
    text-align: center;
}
